@charset "utf-8";
body {
    background-image: linear-gradient(to right, #145e3b, #28be78) !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-image: linear-gradient(to right, #09311f 1%, #28be78) !important;
    color: yellow;
    font-variant: small-caps;
}
nav {
    background-image: linear-gradient(to right, #09311f 1%, #28be78) !important;
    display: flex !important;
    justify-content: center;
}
nav .btn {
    background: none !important;
    border: none;
    color: yellow !important;
}
nav .OnlyLink {
    color: yellow !important;
    text-decoration: none;
}
main a {
    color: yellow !important;
}
main ul li {
    list-style-type: circle;
    margin-bottom: 12px;
}
main ul li b {
    color: yellow;
    font-variant: small-caps;
    font-size: 1.2rem;
}
main ul li span.label {
    color: white;
    font-size: 0.95rem;
}
main section.container {
    margin-bottom: 2rem;
}
main section.container h2, h3{
    color: yellow !important;
    font-weight: normal;
    font-variant: small-caps;
}
main section.container h3 {
    font-size: 1.5rem;
}
main section.container p {
    color: white;
    font-size: 1.25rem
}
footer {
    background-image: /*linear-gradient(to right, #0E472C, #1C945C) !important*/ none;
    color: yellow !important;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    margin-top: auto;
}